html{
	font-size:20px;

}
body{
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	position: fixed;
}
a{
	text-decoration: none;
}

.loader-box {
	
	align-self: center;


}

.modal {
	width: 16rem;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	position: absolute;
	left: 0;
	top: 0;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;

}

.username {
	font-size: 0.75rem;
	color: #1ba2e6;
	font-weight: bolder;
	line-height: 0.75rem;
	align-self: flex-start;
	font-family: sans-serif;
}

.headImg {
	width: 3.5rem;
	height: 3.5rem;
	background: #ccc;
	border-radius: 50%;
	margin-left: 0.8rem;
	margin-top: 0.6rem;
	float: left;
	background-size: cover;
}
.headInfo {
		margin-left: 0.83rem;
		height: 3.5rem;
		margin-top: 0.6rem;
		position: relative;
		 display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: column;

	  flex-direction: column;

	  -webkit-justify-content: space-between;
	  justify-content: space-between;
}
.headInfo .des {
	
	line-height: 1rem;
	background:  #1ba2e6;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 0.5rem;
	border-radius: 0.5rem;
	padding:0 0.2rem;
	align-self: flex-start;
	padding: 0 0.3rem;
	
}
.headInfo .iphone2 {
	margin-top: 0.1rem;
}
.joinTime {
 	font-size: 0.5rem;
	color: #797979;
	align-self: flex-start;
}
.iphone1 {
	bottom: 0.1rem;
}

.head {
		display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
		display: flex;
		width: 16rem;
		height: 4.8rem;
		background:#fff;
		-webkit-flex-direction: row;
		flex-direction: row;
}
.profile{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position:relative;
	width: 100%;
	height: 6rem;
	padding: 1rem;
}
.user-photo{
	display: inline-block;
	vertical-align: middle;
	height: 4rem;
	width: 4rem;
	-webkit-border-radius: 5rem;
	        border-radius: 5rem;
	// margin: 1rem 0.2rem auto 0.8rem;
}
.user-photo img{
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.user-info{
	display: inline-block;
	vertical-align: middle;
	height: 4rem;
	width:50%;
	// margin:1rem auto auto 0.1rem;
}
p{
	white-space: nowrap;
}
p .user-name{
	// line-height: 1rem;
	font-size:80%;
	margin: 0.5rem auto 0.1rem 0.6rem;
	color: rgb(76,190,255);
}
p .user-tag{
	display: inline-block;
	line-height: 150%;
	font-size: 60%;
	width: 45%;
	text-align: center;
	vertical-align: middle;
	margin: 0.2rem auto 0.3rem 0.2rem;
	-webkit-border-radius: 0.4rem;
	        border-radius: 0.4rem;
	background: rgb(76,190,255);
	color: white;
}
p .participation-time{
	font-size: 0.5rem;
	margin: 0.1rem auto 0.2rem 0.2rem;
}
.menu{
	position: relative;
	margin: 0 0 auto 0;
	background-color: #ffffff;
}
.menu a {
	height: 4.488rem;
	display: block!important;
	float: left!important;
	background: #fff;
}
.shared-revenue, .invitation-code, .consumption-record{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	position: relative;
	// float: left;
	// height: 4rem;
	width: 50%;
	margin: 0 auto 0 0;
	padding: 0.8rem;
	border: 1px solid #eeeeee;
}
.shared-revenue {
	border-top: 2px solid #eee!important;

}
.withdraw, .contacts, .withdraw-record{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	position: relative;
	// height: 4rem;
	width: 50%;
	//margin: 0 0 0 auto;
	padding:0.8rem;
	border: 1px solid #eeeeee;
}
.withdraw {
	border-top: 2px solid #eee!important;
}
p.title{
	width: 100%;
	text-align: center;
	margin: 0.6rem auto 0 auto;
	
	font-size: 1rem;
	color: #1693dc;
	font-family: sans-serif;
}
p.description{
	width: 100%;
	text-align: center;
	line-height: 1rem;
	font-size:0.5rem;
	margin-top: 0.2rem;
	color: black;
}

.load4 .loader {
  font-size: 0.4rem;
  margin-top: -2rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.box {
	width: 11.425rem;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -5.7125rem;
	z-index: 9999;
	background: #fff;
	margin-top: -4rem;
}

p.return-error{
	height: 7rem;
	text-align: center;
	line-height: 7rem;
	font-size: 0.6rem;
}

.close {
	width: 0.75rem;
	height: 0.73rem;
	background-image: url('../images/close_03.png');
	background-size: cover;
	position: absolute;
	top: 0.575rem;
	left: 0.5rem;
	z-index: 10000;
}

.mask {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
}





.notOpen .content-box {
	text-align: center;
}

.notOpen .content-box {
	text-align: center;
}



h2 {
	width: 11.425rem;
	height: 1.7rem;
	text-align: center;
	font-size: 0.75rem;
	line-height: 1.7rem;
	color: #050505;
	font-weight: bold;
	border-bottom: 1px solid #bcd8d9;
	line-height: 1.7rem;
}
.title.spe {
	color: #ccc;
}
.description.spe {
	color: #ccc;
}

.shared-revenue .withdraw {
	border-top: 2px solid #eee!important;
}



